body {
    font-family: "Courier New", monospace;
}

h1 {
    font-family: "Times New Roman", serif;
}

.custom-list {
    list-style: none;
    padding-left: 30px;
}

.custom-list>li {
    background: url('2.gif') no-repeat left center;
    background-size: 30px 30px;
    padding-left: 37px;
}

ol {
    list-style-type: none; /* Отключаем стандартную нумерацию */
}

ol[type="a"] > li {
    counter-increment: subsection;
}

ol[type="a"] > li::before {
    content: counter(subsection, lower-alpha) ") ";
}

ol[type="a"][start="3"] {
    counter-reset: subsection 2; /* Начинаем с 3 (но пишем 2, т.к. первый элемент будет +1) */
}

ol[type="a"][start="3"] > li::before {
    content: counter(subsection, lower-alpha) " ";
}